@import '../../styles/variables';

.con {
	height: 100%;
	display: flex;
	flex-direction: column;

	.upLine {
		padding: 0px 0px 10px 0px;
		margin-bottom: 30px;
		border-bottom: 0.5px solid rgba(60, 60, 67, 0.13);
		width: 100%;
	}

	.header {
		flex: 0;
		display: flex;
		justify-content: space-between;
		padding: 20px 20px 10px 20px;
		background-color: $white;
		position: -webkit-sticky;
		z-index: 99;
		top: 0;
		position: sticky;

		.titleContainer {
			display: flex;
			justify-content: center;
			flex: 1;

			.title {
				font-family: 'Microsoft Yi Baiti';
				font-style: normal;
				font-weight: 600;
				font-size: 31px;
				line-height: 32px;
				/* identical to box height */

				display: flex;
				align-items: center;
				text-align: center;

				background: linear-gradient(
					261.39deg,
					#14c9b2 32.48%,
					#5f7de6 50.11%,
					#bd01ff 67.89%
				);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}
		.calendarSchedule {
			display: flex;
			cursor: pointer;
		}
	}

	.mainContentContainer {
		flex: 1;
		margin-bottom: 20px;
		z-index: 1;
		position: relative;
		.mainContent {
			padding: 0px 20px 0 20px;
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			height: 100%;
			&::-webkit-scrollbar {
				display: none;
			}
			.headline {
				color: $primary;
				font-weight: 500;
				font-size: 20px;
				line-height: 25px;
				margin-bottom: 24px;
			}

			.pairsContainer {
				text-align: center;
				margin-bottom: 30px;
				align-items: center;
				background: #ffffff;
				border-radius: 16px;
				filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
				padding: 18px 0px 5px 0px;

				.pair {
					.headPair {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 11px;

						.headLeft {
							display: flex;
							align-items: center;
							.inactive {
								background: linear-gradient(
									270deg,
									#00fccf 0%,
									#007aff 100%
								);
								border-radius: 0px 10px 10px 0px;
								padding: 6px 8px 6px 18px;
								font-size: 14px;
								color: $primary;
							}
							.active {
								background: linear-gradient(
									270deg,
									#00fccf 0%,
									#007aff 100%
								);
								border-radius: 0px 10px 10px 0px;
								padding: 6px 38px 6px 18px;
								font-size: 14px;
								color: $white;
							}
							.type {
								padding-left: 12px;
								font-weight: 300;
								font-size: 15px;
								line-height: 32px;
								color: $primary;
							}
						}
						.time {
							padding-right: 12px;
							font-weight: 300;
							font-size: 15px;
							line-height: 32px;
							color: $primary;
						}
					}
					.infoPair {
						text-align: left;
						padding-left: 21px;
						.namePair {
							font-weight: 600;
							font-size: 15px;
							line-height: 20px;
							color: $primary;
						}
						.teachPair {
							font-weight: 300;
							font-size: 13px;
							line-height: 20px;
							color: $primary;
						}
						.classRoomPair {
							font-weight: 300;
							font-size: 13px;
							line-height: 20px;
							color: $primary;
						}
						.groupPair {
							font-weight: 300;
							font-size: 13px;
							line-height: 20px;
							color: $primary;
						}
					}
				}
			}
			.btn {
			}
		}
	}
}

.enter {
	opacity: 0;
	transform: translateY(650px);
}

.enterActive {
	opacity: 1;
	transform: translateY(0px);
	transition: opacity 800ms, transform 800ms;
}

.exit {
	opacity: 1;
	transform: scale(0.9), translateY(650px);
	transition: opacity 800ms, transform 800ms;
}

.exitActive {
	opacity: 0;
}
