@import '../../styles/variables';

.navBar {
	padding: 10px 0px 10px 0px;
	border-top: 0.5px solid rgba(60, 60, 67, 0.13);
	width: 100%;
	margin-bottom: 5px;
	display: flex;
	background-color: $white;
	position: -webkit-sticky;
	z-index: 99;
	bottom: 0;
	position: sticky;
	.navItems {
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		width: 100%;

		.navItem {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			cursor: pointer;

			&:hover {
				color: $blue;
				.navBarImg {
					filter: invert(32%) sepia(73%) saturate(3876%) hue-rotate(201deg)
						brightness(103%) contrast(104%);
				}
			}

			.navBarActive {
				color: $blue;
			}
			.navBarSpan {
				font-weight: 500;
				font-size: 15px;
				line-height: 12px;
				color: $secondary;
			}
		}
	}
}
