@import '../../styles/_variables.scss';

.container {
	background-color: $white;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.imgContainer {
		.img {
			animation: logo 1.5s ease-in-out infinite;
			animation-delay: 0.5s;
			width: 102px;
			height: 125px;

			@media (max-width: 440px) {
				width: 102px;
				height: 125px;
			}
		}
	}

	.textContainer {
		cursor: pointer;
		margin-top: 10px;
		.text {
			cursor: default;
			font-weight: 400;
			font-size: 23px;
			line-height: 24px;
			text-align: center;
			text-transform: uppercase;

			background: linear-gradient(
				261.39deg,
				#09c0a9 32.48%,
				#5f7de6 50.11%,
				#bd01ff 67.89%
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

@keyframes logo {
	0% {
		transform: scale(0.8);
		transition: transform 500ms;
	}
	50% {
		transform: scale(1);
		transition: transform 500ms;
	}
	100% {
		transform: scale(0.8);
		transition: transform 500ms;
	}
}
