* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	min-height: 100vh;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

body {
	margin: 0;
	font-family: 'SF Pro Display', sans-serif;
	font-weight: 600;
}

/* Transitions */
.page-enter {
	opacity: 0;
	transform: translateX(650px);
}
.page-enter-active {
	opacity: 1;
	transform: translateX(0px);

	transition: opacity 550ms ease-out, transform 600ms ease;
}
.page-exit {
	opacity: 0;
	transform: translateX(0);
}
.page-exit.page-exit-active {
	opacity: 0;
	transform: translateX(0px);

	transition: opacity 550ms ease-out, transform 600ms ease;
}

/* Transitions for Login */
.login-enter {
	opacity: 0;
	transform: translateX(650px);
}
.login-enter.login-enter-active {
	opacity: 1;
	transform: translateX(0px);

	transition: opacity 550ms ease-out, transform 600ms ease;
}
.login-exit {
	opacity: 0;
	transform: translateX(0);
}
.login-exit.login-exit-active {
	opacity: 0;
	transform: translateX(0px);

	transition: opacity 550ms ease-out, transform 600ms ease;
}

@import '_variables.scss';
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
