@import '../../styles/_variables.scss';

.con {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 20px;

	.swiper {
		width: 100%;
		.innerSwiper {
			margin-top: 150px;

			.slide {
				margin-bottom: 70px;

				.conText {
					margin-top: 80px;
					.title {
						color: $primary;
						font-weight: 700;
						font-size: 27px;
						line-height: 32px;
						margin-bottom: 16px;

						display: flex;
						align-items: center;
						text-align: center;
						letter-spacing: 0.35px;
					}
					.subTitle {
						color: $secondary;
						font-weight: 400;
						font-size: 17px;
						line-height: 24px;
						letter-spacing: -0.408px;
					}
				}
			}
		}
	}

	.btn {
		padding: 16px 140px;
		@media (max-width: 375px) {
			padding: 16px 120px;
		}
		background: $blue;
		border-radius: 16px;
		font-size: 17px;
		line-height: 24px;
		cursor: pointer;
		margin-top: 20px;

		text-align: center;
		letter-spacing: -0.408px;
		color: $white;
		transition: all 0.2s ease-in-out;

		&:hover {
			opacity: 0.7;
		}
	}
}

.loginShape {
	padding-top: 20px;
	background-color: $primary;
	.loginMain {
		margin-top: 0px;
		align-items: center;
	}
}

.enterLogin {
	opacity: 0;
	transform: translateY(650px);
}

.enterActiveLogin {
	opacity: 1;
	transform: translateY(0px);
	transition: opacity 400ms, transform 400ms;
}

.exitLogin {
	opacity: 0;
	transform: translateY(300px);
	transition: opacity 800ms, transform 800ms;
}

.exitActiveLogin {
	opacity: 1;
	transform: translateY(650px);
}

.enterSwiper {
	opacity: 0;
	transform: translateX(-650px);
}

.enterActiveSwiper {
	opacity: 1;
	transform: translateX(0px);
	transition: opacity 800ms, transform 800ms;
}

.exitSwiper {
	opacity: 1;
	transform: scale(0.9), translateX(-650px);
	transition: opacity 800ms, transform 800ms;
}

.exitActiveSwiper {
	opacity: 0;
}
