@import '../../styles/variables';

.navBar {
	padding: 10px 0px 10px 0px;
	border-top: 0.5px solid rgba(60, 60, 67, 0.13);
	width: 100%;
	margin-bottom: 5px;
	display: flex;
	background: #ffffff10;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	position: -webkit-sticky;
	z-index: 99;
	bottom: 0;
	position: sticky;
	.navItems {
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		width: 100%;

		.navItem {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			cursor: pointer;

			.navBarActive {
				font-weight: 500;
				font-size: 13px;
				line-height: 15px;
				color: linear-gradient(225deg, #00fccf 0%, #bd01ff 100%);

				margin-top: 5px;
			}

			.navBarActiveImg {
				color: linear-gradient(225deg, #00fccf 0%, #bd01ff 100%);
			}

			.navBarHiddenImg {
				color: $secondary;
			}

			.navBarSpan {
				font-weight: 400;
				font-size: 12px;
				line-height: 15px;
				color: $secondary;
				margin-top: 5px;
			}
		}
	}
}
