@import '../../styles/_variables.scss';

.loginContainer {
	border-top: 1px solid rgba(60, 60, 67, 0.13);
	border-radius: 15px 15px 0px 0px;
	background-color: $white;
	height: 100%;
	align-items: center;

	.upperLine {
		padding: 5px 0px 5px 0px;
		border-bottom: 5px solid rgba(60, 60, 67, 0.13);
		border-radius: 4px;
		width: 80px;
		margin: 0 auto 10px auto;
		cursor: default;
	}

	.header {
		padding: 0px 20px 0px 20px;

		.headerCancelContainer {
			.headerCancel {
				color: $blue;
				font-weight: 400;
				font-size: 15px;
				line-height: 20px;
				cursor: pointer;
				&:hover {
					opacity: 0.5;
				}
			}
		}
		.headerTitle {
			text-align: center;
			align-items: center;
			font-size: 20px;
			line-height: 20px;
			color: $primary;
			cursor: pointer;
		}
	}

	.upLine {
		padding: 10px 0px 15px 0px;
		margin-bottom: 20px;
		border-bottom: 0.5px solid rgba(60, 60, 67, 0.13);
	}

	.main {
		padding: 0px 20px 0px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.mainContent {
			display: flex;
			flex-direction: column;
			margin-bottom: 0vh;
			.title {
				font-weight: 700;
				font-size: 27px;
				line-height: 32px;
				letter-spacing: 0.35px;
				margin-bottom: 15px;
				color: $primary;
			}
			.subTitle {
				font-weight: 400;
				font-size: 15px;
				line-height: 20px;
				display: flex;
				align-items: center;
				letter-spacing: -0.24px;
				color: $secondary;
				margin-bottom: 10px;
			}
			.input {
				border: 1px solid rgba(60, 60, 67, 0.13);
				border-radius: 16px;
				padding: 16px;
			}
		}
		.btn {
			padding: 16px 140px;
			@media (max-width: 375px) {
				padding: 16px 120px;
			}
			background: $blue;
			border-radius: 16px;
			font-size: 17px;
			line-height: 24px;
			cursor: pointer;
			margin-top: 20px;

			text-align: center;
			letter-spacing: -0.408px;
			color: $white;
			transition: all 0.2s ease-in-out;

			&:hover {
				opacity: 0.1;
			}
		}
	}
}
