@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html,
body,
root {
	font-family: 'Montserrat';
	width: 100%;
	display: flex;
	justify-content: center;
	height: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-image: url('./assets/images/bg.jpg');
}
